<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.exam.dao.TestPaperDao">
  <resultMap id="BaseResultMap" type="com.nf.exam.entity.TestPaper">
    <id column="testpaper_id" jdbcType="INTEGER" property="testpaperId" />
    <result column="testpaper_name" jdbcType="VARCHAR" property="testpaperName" />
    <result column="testpaper_state" jdbcType="INTEGER" property="testpaperState" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="is_start" jdbcType="INTEGER" property="isStart"/>
  </resultMap>
  <sql id="Base_Column_List">
    testpaper_id, testpaper_name, testpaper_state, start_date, end_date
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from testpaper
    where testpaper_id = #{testpaperId}
  </delete>
  <insert id="insert" parameterType="com.nf.exam.entity.TestPaper">
    insert into testpaper (testpaper_id, testpaper_name, testpaper_state, 
      start_date, end_date)
    values (#{testpaperId}, #{testpaperName}, #{testpaperState},
      #{startDate}, #{endDate})
  </insert>

    <insert id="insertSelective" parameterType="com.nf.exam.entity.TestPaper">
        insert into testpaper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="testpaperId != null">
                testpaper_id,
            </if>
            <if test="testpaperName != null">
                testpaper_name,
            </if>
            <if test="testpaperState != null">
                testpaper_state,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="endDate != null">
                end_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="testpaperId != null">
                #{testpaperId},
            </if>
            <if test="testpaperName != null">
                #{testpaperName},
            </if>
            <if test="testpaperState != null">
                #{testpaperState},
            </if>
            <if test="startDate != null">
                #{startDate},
            </if>
            <if test="endDate != null">
                #{endDate},
            </if>
        </trim>
    </insert>

  <!-- 与系统分隔 -->
  <!-- 查询所有有效试卷 -->
  
  <select id="findTestPaperInfo" resultMap="BaseResultMap">
	  SELECT
		*
	FROM
		testpaper
	WHERE
		testpaper.testpaper_state = 1
  </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from testpaper
        where testpaper_id = #{testpaperId}
    </select>
  
  <!-- 更新书卷状态  即前端页面执行的删除试卷操作 -->
  <update id="updateTestPaperState" parameterType="java.lang.Integer">
		  UPDATE testpaper
		SET testpaper.testpaper_state = 0
		WHERE
			testpaper.testpaper_id = #{id}
  </update>
  
  <update id="updateTestPaperInfo" parameterType="com.nf.exam.entity.TestPaper">
		  	UPDATE testpaper
		SET testpaper.testpaper_name =#{testpaperName},
				testpaper.start_date =#{startDate},
				testpaper.end_date =#{endDate}
		WHERE
			testpaper.testpaper_id =#{testpaperId}
  
  </update>
  
</mapper>